botToken: my bot token here
games:
  - name: "Rainbow Six Siege"
    minimumPlayers: 1
    maximumPlayers: 5
    availableDays:
      - "Mon"
      - "Tue"
      - "Wed"
      - "Thu"
      - "Fri"
      - "Sat"
      - "Sun"
  - name: "Rocket League"
    minimumPlayers: 1
    maximumPlayers: 3
    availableDays:
      - "Mon"
      - "Tue"
      - "Wed"
      - "Thu"
      - "Fri"
      - "Sat"
      - "Sun"
